@media (max-width: 600px) {
  footer .footer-left {
    text-align: center;
  }
  footer .footer-left p.footer-links {
    line-height: 1.8;
  }
  footer .footer-right {
    float: none;
    margin: 0 auto 20px;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .navbar-default {
    height: 75px;
  }
  .navbar-default .navbar-header {
    margin-top: calc(12.5px);
  }
  .navbar-default .navbar-collapse {
    margin-top: calc(12.5px);
  }
  .navbar-default .navbar-collapse .pronote {
    margin-top: 10px;
  }
  .home {
    margin-top: 75px;
  }
  .home #carousel-example-generic {
    height: 500px;
    overflow: hidden;
  }
}
