.navbar-default {
  font-family: Garamond;
  background-color: #ffffff;
  border-radius: 0;
  margin-bottom: 0;
}
.navbar-default .navbar-collapse .navbar-right {
  margin-right: 50px;
}
.navbar-default .navbar-collapse .navbar-right .pronote {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border-radius: 2px;
  border: 1px solid #1fa17e;
}
.navbar-default .navbar-collapse .navbar-right .pronote:hover {
  background-color: #1fa17e;
}
.navbar-default .navbar-collapse .navbar-right .pronote:hover a {
  color: #ffffff;
}
.navbar-default .navbar-collapse .navbar-right .pronote a {
  padding: 5px;
  color: #1fa17e;
}
.navbar-default .navbar-collapse .navbar-right li {
  font-size: 1.3em;
  margin-right: 20px;
}
.navbar-default .navbar-collapse .navbar-right a {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: #000;
  text-transform: uppercase;
}
.navbar-default .navbar-collapse .navbar-right a:hover {
  color: #1fa17e;
}
.navbar-default .navbar-brand img {
  width: 200px;
  position: absolute;
  top: 3px;
  left: 25px;
}
.home .container-fluid {
  padding: 0;
}
.home #carousel-example-generic .carousel-indicators .active {
  background-color: #00ff8b;
}
.home #carousel-example-generic .carousel-indicators li {
  border-color: #00ff8b;
}
.home #carousel-example-generic .carousel-control {
  background-image: none;
}
.home #carousel-example-generic img {
  width: 100%;
}
.home #carousel-example-generic .mask {
  position: absolute;
  background: rgba(255, 255, 255, 0.6);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
.home #carousel-example-generic .carousel-caption {
  top: 10%;
}
.home #carousel-example-generic .carousel-control {
  z-index: 2;
  position: absolute;
  top: 40%;
}
.home #carousel-example-generic .carousel-control img {
  width: 80px;
}
footer {
  background-color: #ded8d8;
  padding: 45px 50px;
  text-align: left;
  width: 100%;
}
footer .footer-left p {
  color: #8f9296;
  font-size: 0.875em;
  margin: 0;
}
footer p.footer-links {
  color: #ffffff;
  font-size: 1.125em;
  font-weight: bold;
  margin: 0 0 10px;
  padding: 0;
}
footer p.footer-links a {
  color: inherit;
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}
footer p.footer-links a:hover {
  color: #00ff8b;
}
footer .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}
footer .footer-right a {
  background-color: #736f6f;
  border-radius: 2px;
  color: #ffffff;
  display: inline-block;
  font-size: 1.250em;
  height: 35px;
  line-height: 35px;
  margin-left: 3px;
  text-align: center;
  width: 35px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}
footer .footer-right a:hover {
  background-color: #00ff8b;
}
.block-formations {
  padding-top: 50px;
}
.block-formations .formations {
  height: 500px;
}
.block-formations .formations .formation {
  border: 3px solid #00ff8b;
  position: relative;
  z-index: 2;
  margin: 100px 40px;
  height: 150px;
  width: 150px;
  overflow: hidden;
  display: inline-block;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.block-formations .formations .formation .title_formation {
  margin-top: 60px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.block-formations .formations .formation .title_formation h3 {
  line-height: 30px;
  color: #ffffff;
}
.block-formations .formations .formation .mask {
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.block-formations .formations .formation .mask:hover {
  opacity: 1;
  background: rgba(0, 0, 0, 0.6);
}
.block-formations .formations .formation img {
  -webkit-transform: rotate(-45deg) translateY(-110px);
  -moz-transform: rotate(-45deg) translateY(-110px);
  -ms-transform: rotate(-45deg) translateY(-110px);
  -o-transform: rotate(-45deg) translateY(-110px);
  transform: rotate(-45deg) translateY(-110px);
  width: 400px;
}
.block-formations .formations .line2 {
  position: relative;
  bottom: 240px;
}
.actus {
  height: 300px;
  background-color: #ffffff;
}
.block-galerie .galeries {
  height: 600px;
  overflow: hidden;
}
.block-galerie .galeries .galerie {
  border: 3px solid #00ff8b;
  position: relative;
  z-index: 2;
  margin: 100px 40px;
  height: 150px;
  width: 150px;
  overflow: hidden;
  display: inline-block;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.block-galerie .galeries .galerie .mask {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 3;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.block-galerie .galeries .galerie .mask:hover {
  background: rgba(0, 0, 0, 0.6);
}
.block-galerie .galeries .galerie img {
  -webkit-transform: rotate(-45deg) translateY(-110px);
  -moz-transform: rotate(-45deg) translateY(-110px);
  -ms-transform: rotate(-45deg) translateY(-110px);
  -o-transform: rotate(-45deg) translateY(-110px);
  transform: rotate(-45deg) translateY(-110px);
  width: 400px;
}
.block-galerie .galeries .line2 {
  position: relative;
  bottom: 240px;
}
.block-galerie .galeries .line3 {
  position: relative;
  bottom: 480px;
}
header {
  height: 50%;
  background: url('../img/business.jpg') center center no-repeat scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.entreprise h1 {
  font-family: Garamond;
  text-align: center;
}
.lycee .img-section {
  height: 100vh;
  background: url("../img/eleves.jpg") no-repeat center center / cover;
}
.lycee .img-section .mask {
  position: absolute;
  background: rgba(255, 255, 255, 0.6);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
.lycee .temoignage-section {
  height: 200px;
  background-color: #343a39;
}
