/*********BASE CSS*********/
.garamond {
  font-family: Garamond;
}
.no-padding {
  padding-left: 0;
  padding-right: 0;
}
.no-margin {
  margin-left: 0;
  margin-right: 0;
}
/*********Header*********/
.navbar-default {
  font-family: Garamond;
  background-color: #ffffff;
  border-radius: 0;
  margin-bottom: 0;
}
.navbar-default .navbar-collapse .navbar-right {
  margin-right: 50px;
}
.navbar-default .navbar-collapse .navbar-right .pronote {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border-radius: 2px;
  border: 1px solid #1fa17e;
}
.navbar-default .navbar-collapse .navbar-right .pronote:hover {
  background-color: #1fa17e;
}
.navbar-default .navbar-collapse .navbar-right .pronote:hover a {
  color: #ffffff;
}
.navbar-default .navbar-collapse .navbar-right .pronote a {
  padding: 5px;
  color: #1fa17e;
}
.navbar-default .navbar-collapse .navbar-right li {
  font-size: 1.3em;
  margin-right: 20px;
}
.navbar-default .navbar-collapse .navbar-right a {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: #000;
  text-transform: uppercase;
}
.navbar-default .navbar-collapse .navbar-right a:hover {
  color: #1fa17e;
}
.navbar-default .navbar-brand img {
  width: 200px;
  position: absolute;
  top: 3px;
  left: 25px;
}
.navbar-default .navbar-toggle {
  border-radius: 0;
  border-color: #000000;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #000000;
}
/*********Home*********/
.home .container-fluid {
  padding: 0;
}
.home #carousel-example-generic {
  /*.carousel-indicators {
      .active {
        background-color: @vert;
      }
      li {
        border-color: @vert;
      }
    }*/
}
.home #carousel-example-generic img {
  width: 100%;
}
.home #carousel-example-generic .mask {
  position: absolute;
  background: rgba(255, 255, 255, 0.6);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
.home #carousel-example-generic .carousel-caption {
  top: 30%;
}
.home #carousel-example-generic .carousel-control {
  background-image: none;
  z-index: 2;
  position: absolute;
  top: 50%;
}
.home #carousel-example-generic .carousel-control img {
  width: 80px;
}
.home #carousel-example-generic .arrow {
  margin-top: 100px;
  font-size: 6em;
}
.home #carousel-example-generic .arrow a {
  color: #00ff8b;
}
.home #carousel-example-generic .arrow img {
  width: 80px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.home #carousel-example-generic .arrow img:hover {
  -webkit-transform: scale(1.2, 1.2);
  -moz-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -o-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}
/*********Home Formation*********/
.cell-view {
  padding-right: 9px;
  display: table-cell;
  vertical-align: middle;
}
.cell-view hr {
  width: 60px;
}
.block-formations {
  padding-top: 60px;
}
.block {
  position: relative;
  padding-top: 50px;
  padding-bottom: 126px;
}
.team {
  margin-top: 50px;
}
.team #carousel-example-generic-2 .carousel-control {
  background-image: none;
  position: absolute;
  top: 70%;
}
.team #carousel-example-generic-2 .carousel-control img {
  width: 50px;
}
.team #carousel-example-generic-3 .carousel-control {
  background-image: none;
  position: absolute;
  top: 70%;
}
.team #carousel-example-generic-3 .carousel-control img {
  width: 50px;
}
.tream-entry {
  border: 3px solid #00ff8b;
  position: relative;
  width: 141px;
  height: 141px;
  margin: 0 auto;
  overflow: hidden;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  cursor: pointer;
}
.tream-entry .team-img,
.tream-entry .table-view {
  display: block;
  width: 199px;
  height: 199px;
  -webkit-transform: translate(-14.5%, -14.5%) rotate(45deg);
  -moz-transform: translate(-14.5%, -14.5%) rotate(45deg);
  -ms-transform: translate(-14.5%, -14.5%) rotate(45deg);
  -o-transform: translate(-14.5%, -14.5%) rotate(45deg);
  transform: translate(-14.5%, -14.5%) rotate(45deg);
}
.tream-entry .table-view {
  display: table;
}
.team-hover {
  position: absolute;
  top: 0;
  left: 0;
  background: #000000;
  color: #fefeff;
  opacity: 0;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}
.tream-entry:hover .team-hover {
  opacity: 1;
}
.team-name {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 20px;
}
.team-social {
  text-align: center;
}
.team-social a {
  margin: 0 10px;
  color: #c1d8fc;
}
.teamrow {
  position: relative;
  top: -37px;
}
.teamrow:nth-child(1) {
  top: 0px;
}
.teamrow:nth-child(3) {
  top: -74px;
}
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 23 - MEDIA QUERIES */
/*-------------------------------------------------------------------------------------------------------------------------------*/
/*Desktops (>=1200px)*/
/*Desktops (>=992px)*/
@media (max-width: 1199px) {
  .teamrow {
    top: -20px;
  }
  .teamrow:nth-child(3) {
    top: -40px;
  }
  .tream-entry {
    width: 110px;
    height: 110px;
  }
  .tream-entry .team-img,
  .tream-entry .table-view {
    width: 157px;
    height: 157px;
  }
}
/* Tablets (>=768px)*/
@media (max-width: 991px) {
  .tream-entry {
    width: 90px;
    height: 90px;
  }
  .tream-entry .team-img,
  .tream-entry .table-view {
    width: 128px;
    height: 128px;
  }
}
/*Phones (<768px)*/
@media (max-width: 767px) {
  .team {
    margin: 0;
  }
  .block {
    padding-top: 50px;
    padding-bottom: 63px;
  }
  .tream-entry {
    width: 260px;
    height: 260px;
  }
  .tream-entry .team-img,
  .tream-entry .table-view {
    width: 365px;
    height: 365px;
  }
  .team-item {
    margin-bottom: 60px;
    margin-top: 60px;
  }
  .teamrow {
    top: 0;
  }
  .teamrow:nth-child(2) .team-item:last-child {
    margin-bottom: 30px;
  }
  .hide-line {
    display: none;
  }
}
@media (max-width: 520px) {
  .tream-entry {
    width: 240px;
    height: 240px;
  }
  .tream-entry .team-img,
  .tream-entry .table-view {
    width: 338px;
    height: 338px;
  }
}
@media (max-width: 370px) {
  .tream-entry {
    width: 200px;
    height: 200px;
  }
}
/*********Home Actualité*********/
.actus {
  height: 300px;
  background-color: #ffffff;
}
/*********Home Galerie*********/
.block-galerie .galeries {
  height: 600px;
  overflow: hidden;
}
.block-galerie .galeries .galerie {
  border: 3px solid #00ff8b;
  position: relative;
  z-index: 2;
  margin: 100px 40px;
  height: 150px;
  width: 150px;
  overflow: hidden;
  display: inline-block;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.block-galerie .galeries .galerie .mask {
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 3;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.block-galerie .galeries .galerie .mask .title_galerie {
  margin-top: 60px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.block-galerie .galeries .galerie .mask .title_galerie h3 {
  line-height: 5px;
  color: #ffffff;
}
.block-galerie .galeries .galerie .mask .title_galerie p {
  color: #ffffff;
  font-style: italic;
}
.block-galerie .galeries .galerie .mask:hover {
  opacity: 1;
  background: rgba(0, 0, 0, 0.6);
}
.block-galerie .galeries .galerie img {
  -webkit-transform: rotate(-45deg) translateY(-110px);
  -moz-transform: rotate(-45deg) translateY(-110px);
  -ms-transform: rotate(-45deg) translateY(-110px);
  -o-transform: rotate(-45deg) translateY(-110px);
  transform: rotate(-45deg) translateY(-110px);
  width: 400px;
}
.block-galerie .galeries .line2 {
  position: relative;
  bottom: 240px;
}
.block-galerie .galeries .line3 {
  position: relative;
  bottom: 480px;
}
/*********Entreprise*********/
.visuel-entreprise .container-fluid {
  position: relative;
  background: url('../img/business.jpg') center center no-repeat scroll;
  height: 70vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.visuel-entreprise .container-fluid h1 {
  text-transform: uppercase;
  font-size: 10vw;
  position: absolute;
  color: #666;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
.visuel-entreprise .container-fluid .mask {
  position: absolute;
  background: rgba(255, 255, 255, 0.6);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
.entreprise {
  margin-top: 30px;
}
.entreprise h1 {
  font-family: Garamond;
  text-align: center;
  font-size: 5em;
}
.entreprise .contenu-entreprise-1 {
  border-right: 2px solid;
  margin-top: 50px;
  margin-bottom: 50px;
}
.entreprise .contenu-entreprise-1 .taxe {
  position: relative;
  background: #F7F7F7;
  padding: 35px;
}
.entreprise .contenu-entreprise-1 .taxe h2 {
  font-family: Garamond;
  text-transform: uppercase;
}
.entreprise .contenu-entreprise-1 .taxe h3 {
  font-family: Garamond;
  text-transform: uppercase;
  color: #1fa17e;
}
.entreprise .contenu-entreprise-1 .taxe .information-1 a {
  color: #11a27d;
}
.entreprise .contenu-entreprise-1 .taxe a {
  color: #11a27d;
}
.entreprise .contenu-entreprise-1 .bourses {
  background-color: #F7F7F7;
  padding: 35px;
  margin-top: 50px;
}
.entreprise .contenu-entreprise-1 .bourses h2 {
  font-family: Garamond;
  text-transform: uppercase;
}
.entreprise .contenu-entreprise-1 .bourses h3 {
  font-family: Garamond;
  text-transform: uppercase;
  color: #1fa17e;
}
.entreprise .contenu-entreprise-1 .bourses .information-2 a {
  color: #11a27d;
}
.entreprise .contenu-entreprise-1 .bourses .boutton-savoir {
  text-transform: uppercase;
  padding: 10px 40px 10px 40px;
  background-color: #a5f9d3;
  color: black;
  text-decoration: none;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}
.entreprise .contenu-entreprise-1 .bourses .boutton-savoir:hover {
  background-color: #00ff8b;
}
.entreprise .contenu-entreprise-1 .marches {
  background-color: #F7F7F7;
  padding: 35px;
  margin-top: 50px;
}
.entreprise .contenu-entreprise-1 .marches h2 {
  font-family: Garamond;
  text-transform: uppercase;
}
.entreprise .contenu-entreprise-1 .marches h3 {
  font-family: Garamond;
  text-transform: uppercase;
  color: #1fa17e;
}
.entreprise .contenu-entreprise-1 .marches .marches-p2 {
  font-style: italic;
}
.entreprise .contenu-entreprise-1 .marches .marches-p4 {
  text-transform: uppercase;
  color: #1fa17e;
}
.entreprise .contenu-entreprise-1 .marches .marches-p5 {
  font-weight: bold;
}
.entreprise .contenu-entreprise-1 .marches .marches-p7 {
  color: #1fa17e;
}
.entreprise .contenu-entreprise-1 .marches .boutton-savoir {
  text-transform: uppercase;
  padding: 10px 40px 10px 40px;
  background-color: #a5f9d3;
  color: black;
  text-decoration: none;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}
.entreprise .contenu-entreprise-1 .marches .boutton-savoir:hover {
  background-color: #00ff8b;
}
.entreprise .contenu-entreprise-2 {
  position: relative;
}
.entreprise .contenu-entreprise-2 .offres {
  background-color: #F7F7F7;
  padding: 35px;
  margin-top: 50px;
}
.entreprise .contenu-entreprise-2 .offres h2 {
  font-family: Garamond;
  text-transform: uppercase;
}
.entreprise .contenu-entreprise-2 .offres .offres-arts-graphiques h4 {
  font-family: Garamond;
  text-transform: uppercase;
  color: white;
  padding: 25px 50px 25px 30px;
  font-size: 1.3em;
  background-color: black;
}
.entreprise .contenu-entreprise-2 .offres .offres-arts-graphiques .contenu-offres-arts {
  margin-top: 20px;
}
.entreprise .contenu-entreprise-2 .offres .offres-arts-graphiques .contenu-offres-arts a {
  padding: 10px 60px 10px 60px;
  background-color: #a5f9d3;
  font-size: 1.2em;
  color: black;
  text-decoration: none;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
  margin: 10px 0 10px 0;
}
.entreprise .contenu-entreprise-2 .offres .offres-arts-graphiques .contenu-offres-arts a:hover {
  background-color: #00ff8b;
}
.entreprise .contenu-entreprise-2 .offres .offres-pif h4 {
  font-family: Garamond;
  text-transform: uppercase;
  color: white;
  font-size: 1.3em;
  padding: 25px 50px 25px 30px;
  background-color: black;
}
.entreprise .contenu-entreprise-2 .offres .offres-pif .contenu-pif {
  margin-top: 20px;
}
.entreprise .contenu-entreprise-2 .offres .offres-pif .contenu-pif a {
  padding: 10px 60px 10px 60px;
  background-color: #a5f9d3;
  font-size: 1.2em;
  color: black;
  text-decoration: none;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
  margin: 10px 0 10px 0;
}
.entreprise .contenu-entreprise-2 .offres .offres-pif .contenu-pif a:hover {
  background-color: #00ff8b;
}
@media (max-width: 991px) {
  .entreprise .contenu-entreprise-1 {
    border-right: none;
  }
}
/*********Lycée*********/
.lycee .visuel-lycée h1 {
  text-transform: uppercase;
  font-size: 10vw;
  position: absolute;
  color: #666666;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
.lycee .visuel-lycée .container-fluid {
  position: relative;
  background: url('../img/projet_entete.JPG') center center no-repeat scroll;
  height: 70vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.lycee .visuel-lycée .container-fluid .mask {
  position: absolute;
  background: rgba(255, 255, 255, 0.6);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
.lycee .titre {
  text-align: right;
}
.lycee .img-section {
  position: relative;
  max-height: 70vh;
  overflow: hidden;
}
.lycee .img-section .mask {
  position: absolute;
  background: rgba(255, 255, 255, 0.6);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
.lycee .img-section img {
  width: 100%;
}
.lycee .temoignage-section {
  background-color: #343a39;
}
.lycee .temoignage-section h2 {
  margin-top: 30px;
  text-transform: uppercase;
  color: #00ff8b;
  font-size: 1.6em;
}
.lycee .temoignage-section p {
  color: #ffffff;
}
.lycee .temoignage-section p:nth-child(1) {
  margin-top: 30px;
}
.lycee .temoignage-section p:nth-child(2) {
  text-align: right;
  position: relative;
  right: 60px;
}
.lycee .temoignage-section .points-verts img {
  float: right;
  height: 200px;
}
.lycee .temoignage-section .btn-histoire {
  border-radius: 0;
  text-transform: uppercase;
  padding: 10px 40px 10px 40px;
  background-color: #a5f9d3;
  color: black;
  text-decoration: none;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}
.lycee .temoignage-section .btn-histoire:hover {
  background-color: #00ff8b;
}
.lycee .paragraphes-section img {
  width: 100%;
}
.lycee .paragraphes-section .row {
  padding-top: 50px;
  padding-bottom: 20px;
}
.lycee .paragraphes-section .img-row {
  padding-top: 0;
  padding-bottom: 0;
}
.lycee .paragraphes-section h3 {
  color: #1fa17e;
  text-transform: uppercase;
}
.lycee .paragraphes-section .bg-gris {
  background-color: #f5f6f7;
}
/*********Projets*********/
.visuel-projets h1 {
  text-transform: uppercase;
  font-size: 10vw;
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
.visuel-projets .container-fluid {
  position: relative;
  background: url('../img/projet_entete.JPG') center center no-repeat scroll;
  height: 70vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.visuel-projets .container-fluid .mask {
  position: absolute;
  background: rgba(255, 255, 255, 0.6);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .simplefilter li {
    line-height: 36px;
  }
}
.projets-tabs {
  margin-top: 50px;
}
.projets-tabs .simplefilter {
  margin-bottom: 40px;
  text-align: center;
  overflow: hidden;
  cursor: default;
}
.projets-tabs .simplefilter li {
  font-family: 'Lato', sans-serif;
  display: inline-block;
  height: 34px;
  margin: 0 15px 10px;
  padding: 0 20px;
  font-size: 13px;
  font-weight: 400;
  line-height: 34px;
  text-transform: uppercase;
  color: #000;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: border-color 160ms linear;
  -moz-transition: border-color 160ms linear;
  -o-transition: border-color 160ms linear;
  transition: border-color 160ms linear;
}
.projets-tabs .simplefilter:hover {
  cursor: pointer;
}
.projets-tabs .simplefilter .btn-lines {
  position: relative;
}
.projets-tabs .simplefilter .btn-lines .line-top {
  position: absolute;
  background: #00ff8b;
  -webkit-transition: width 210ms ease-out 10ms, height 210ms ease-out 10ms;
  -moz-transition: width 210ms ease-out 10ms, height 210ms ease-out 10ms;
  -o-transition: width 210ms ease-out 10ms, height 210ms ease-out 10ms;
  transition: width 220ms ease-out 10ms, height 220ms ease-out 10ms;
  width: 0;
  height: 1px;
  top: 0;
  left: 0;
}
.projets-tabs .simplefilter .btn-lines .line-bottom {
  position: absolute;
  background: #00ff8b;
  -webkit-transition: width 210ms ease-out 10ms, height 210ms ease-out 10ms;
  -moz-transition: width 210ms ease-out 10ms, height 210ms ease-out 10ms;
  -o-transition: width 210ms ease-out 10ms, height 210ms ease-out 10ms;
  transition: width 220ms ease-out 10ms, height 220ms ease-out 10ms;
  width: 0;
  height: 1px;
  bottom: 0;
  right: 0;
}
.projets-tabs .simplefilter .btn-lines .line-left {
  position: absolute;
  background: #00ff8b;
  -webkit-transition: width 210ms ease-out 10ms, height 210ms ease-out 10ms;
  -moz-transition: width 210ms ease-out 10ms, height 210ms ease-out 10ms;
  -o-transition: width 210ms ease-out 10ms, height 210ms ease-out 10ms;
  transition: width 220ms ease-out 10ms, height 220ms ease-out 10ms;
  width: 1px;
  height: 0;
  bottom: 0;
  left: 0;
}
.projets-tabs .simplefilter .btn-lines .line-right {
  position: absolute;
  background: #00ff8b;
  -webkit-transition: width 210ms ease-out 10ms, height 210ms ease-out 10ms;
  -moz-transition: width 210ms ease-out 10ms, height 210ms ease-out 10ms;
  -o-transition: width 210ms ease-out 10ms, height 210ms ease-out 10ms;
  transition: width 220ms ease-out 10ms, height 220ms ease-out 10ms;
  width: 1px;
  height: 0;
  top: 0;
  right: 0;
}
.projets-tabs .simplefilter .btn-lines:hover .line-top {
  width: 100%;
}
.projets-tabs .simplefilter .btn-lines:hover .line-bottom {
  width: 100%;
}
.projets-tabs .simplefilter .btn-lines:hover .line-left {
  height: 100%;
}
.projets-tabs .simplefilter .btn-lines:hover .line-right {
  height: 100%;
}
.projets-visuels {
  overflow: hidden;
}
.projets-visuels .projets-visuels img {
  width: 100%;
}
.projets-visuels .projets-visuels .projets-items {
  margin: 0 0 0 0;
  position: relative;
}
.projets-visuels .projets-visuels .projets-items .mask {
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 3;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.projets-visuels .projets-visuels .projets-items .mask i {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.projets-visuels .projets-visuels .projets-items .mask:hover {
  opacity: 1;
  background: rgba(0, 255, 139, 0.6);
}
.projets-modal {
  width: 80%;
  margin: 0 auto;
}
.projets-modal .modal-content {
  -webkit-box-shadow: none;
  background-clip: border-box;
  border-radius: 0;
  border: 0;
  box-shadow: none;
  padding: 100px 0;
  text-align: center;
}
.projets-modal .modal-content .modal-window {
  padding: 0 20px 0 20px;
}
.projets-modal .modal-content .modal-window h2 {
  font-size: 3em;
  margin-bottom: 15px;
}
.projets-modal .modal-content .modal-window p {
  margin-bottom: 30px;
}
.projets-modal .modal-content .modal-window p.item-intro {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: italic;
  margin: 20px 0 30px;
}
.projets-modal .modal-content .modal-window ul.list-inline {
  margin-bottom: 30px;
  margin-top: 0;
}
.projets-modal .modal-content .modal-window img {
  overflow-x: hidden;
  margin: 0 auto;
}
.projets-modal .close-modal {
  background-color: transparent;
  cursor: pointer;
  height: 75px;
  position: absolute;
  right: 25px;
  top: 25px;
  width: 75px;
}
.projets-modal .close-modal:hover {
  opacity: .3;
}
.projets-modal .close-modal .lr {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  background-color: #222222;
  height: 75px;
  margin-left: 35px;
  transform: rotate(45deg);
  width: 1px;
  z-index: 1051;
}
.projets-modal .close-modal .lr .rl {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  background-color: #222222;
  height: 75px;
  transform: rotate(90deg);
  width: 1px;
  z-index: 1052;
}
.projets-modal .modal-backdrop {
  display: none;
  opacity: 0;
}
.projets-modal .close-project button {
  padding: 10px 60px 10px 60px;
  background-color: #a5f9d3;
  font-size: 1.2em;
  color: black;
  border: none;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
  margin: 10px 0 10px 0;
}
.projets-modal .close-project button:hover {
  background-color: #00ff8b;
}
@media (max-width: 892px) {
  .projets-visuels .projets-items {
    width: 100%;
  }
  .projets-modal {
    width: 100%;
  }
  .projets-modal .model-content {
    min-height: 100%;
  }
}
/*********Formation*********/
.formations .img-section {
  margin-top: 75px;
  position: relative;
  max-height: 70vh;
  overflow: hidden;
}
.formations .img-section img {
  width: 100%;
}
.formations .nav-top {
  box-shadow: 0 0 5px 0 #656565;
  padding-top: 10px;
  padding-bottom: 10px;
}
.formations .nav-top li {
  text-transform: uppercase;
  font-size: 1.1em;
}
.formations .nav-top li .toutes {
  font-size: 1.3em;
}
.formations .nav-top li .vert {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-size: 1.2em;
  color: #1fa17e;
}
.formations .nav-top li:hover a {
  color: #1fa17e;
}
.formations .nav-top li:hover .vert {
  color: #000000;
}
.formations .nav-top li a {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border-radius: 0;
  color: #000000;
}
.formations .nav-top li a:hover {
  text-decoration: none;
  background: none;
  border-color: transparent;
}
.formations .nav-top li.active > a {
  font-weight: bold;
  color: #000000;
  border-color: transparent;
}
.formations .tab-content {
  padding-top: 20px;
  padding-bottom: 20px;
}
.formations .tab-content .losange {
  position: relative;
  z-index: 2;
  width: 50%;
}
.formations .tab-content .triangle {
  position: absolute;
  right: 20px;
  border-style: solid;
  border-width: 30px 0 30px 30px;
  border-color: transparent transparent transparent #c6ffdb;
}
.formations .tab-content .item {
  background-color: #c6ffdb;
  right: 50px;
  z-index: 1;
  position: absolute;
  width: 80%;
  height: 60px;
}
.formations .tab-content .item p {
  line-height: 60px;
  font-size: 1.1em;
}
.formations .tab-content .item p span {
  vertical-align: middle;
  display: inline-block;
  line-height: 1.2;
}
.formations .tab-content .item-1,
.formations .tab-content .triangle-1 {
  top: 1px;
}
.formations .tab-content .item-2,
.formations .tab-content .triangle-2 {
  -webkit-transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  -o-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  top: 50%;
}
.formations .tab-content .item-3,
.formations .tab-content .triangle-3 {
  bottom: 1px;
}
.formations .tab-content .item-4,
.formations .tab-content .triangle-4 {
  top: 30px;
}
.formations .tab-content .item-5,
.formations .tab-content .triangle-5 {
  bottom: 30px;
}
.formations .tab-content .margin-top-20 {
  margin-top: 20px;
}
.formations .tab-content .text-div {
  border-left: 1px solid #000000;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 100px 20px 200px 10%;
}
.formations .tab-content .title-div {
  margin-top: 30px;
}
.formations .tab-content .title-div h4 {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}
.formations .tab-content .title-div .border-left {
  border-left: 1px solid #000000;
}
.formations .tab-content .title-div .vert {
  color: #1fa17e;
}
.formations .tab-content .nav-side {
  float: right;
  margin-right: 10px;
  padding-left: 0;
}
.formations .tab-content .nav-side li {
  font-size: 1.2em;
  padding-bottom: 15px;
  padding-top: 15px;
  text-align: center;
  display: block;
  border-bottom: 1px solid #000000;
}
.formations .tab-content .nav-side li:last-child {
  border-bottom: none;
}
.formations .tab-content .nav-side li a {
  color: #000000;
  text-decoration: none;
}
.formations .tab-content .nav-side li.active > a {
  font-weight: bold;
}
.formations .tab-content .nav-side li.title {
  margin-bottom: 100px;
  border-bottom: none;
}
.formations .tab-content .nav-side li.title h4 {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}
.formations .tab-content .nav-side li.title .border-left {
  border-left: 1px solid #000000;
}
.formations .tab-content .nav-side li.title .vert {
  color: #1fa17e;
}
@media (max-width: 768px) {
  .formations .img-section {
    margin-top: 50px;
  }
}
/*********contact*********/
.contact {
  overflow-x: hidden;
}
.contact .visuel-contact h1 {
  text-transform: uppercase;
  font-size: 10vw;
  position: absolute;
  color: #666;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.contact .visuel-contact .container-fluid {
  position: relative;
  background: url('../img/contact3.png') center center no-repeat scroll;
  height: 70vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.contact .visuel-contact .container-fluid .mask {
  position: absolute;
  background: rgba(255, 255, 255, 0.6);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
.contact .contact-texte {
  padding: 30px 0 30px 0;
}
.contact .contact-texte .row .col-md-offset-3 h2 {
  color: #666666;
}
.contact .map-contact {
  padding: 30px;
  background-color: #F7F7F7;
}
.contact .map {
  background-color: #F7F7F7;
  height: 564px;
}
.contact iframe {
  float: left;
  margin-top: 0px;
}
@media (max-width: 678px) {
  .contact .map {
    height: 400px;
  }
  .contact iframe {
    float: left;
    height: 380px;
    margin-top: 0px;
    padding: 29px;
  }
}
.contact h2,
.contact input,
.contact textarea,
.contact button {
  font-family: 'EB Garamond', serif;
}
.contact ::-webkit-input-placeholder {
  color: #777;
}
.contact :-moz-placeholder {
  /* Firefox 18- */
  color: #777;
}
.contact ::-moz-placeholder {
  /* Firefox 19+ */
  color: #777;
}
.contact :-ms-input-placeholder {
  color: #777;
}
.contact #contact input[type="text"],
.contact #contact input[type="email"],
.contact #contact textarea {
  display: block;
  padding: 10px;
  margin: 10px auto;
  width: 90%;
  font-size: 18px;
  color: #777;
  border: 1px solid #ccc;
}
.contact #contact textarea {
  font-size: 16px;
}
.contact #contact input:hover,
.contact #contact textarea:hover {
  border: 1px solid #888;
}
.contact #contact input:focus,
.contact #contact textarea:focus {
  border: 1px solid #777;
}
.contact #contact textarea {
  max-width: 90%;
  min-width: 90%;
  max-height: 200px;
  min-height: 200px;
  resize: none;
}
.contact #contact .send-button {
  text-align: center;
}
.contact #contact .send-button button[type="submit"] {
  cursor: pointer;
  background: #85ffc7;
  color: #fff;
  border: none;
  width: 30%;
  padding: 10px 0;
  font-size: 20px;
  text-transform: uppercase;
  transition: .5s ease;
}
.contact #contact .send-button button[type="submit"]:hover {
  background: #6cd0a2;
}
.contact #contact .send-button button[type="submit"]:focus {
  position: relative;
  top: 2px;
}
/*##############\*
    Responsive
\*##############*/
.actus {
  /*
    Not needed for this to work,
    Just some styling.
  */
}
.actus body {
  min-width: 320px;
  background: url(../img/actualites.png) no-repeat;
  background-size: cover;
  text-align: center;
}
.actus li {
  padding: 20px;
}
.actus #test {
  margin-top: -49px;
  background-color: white;
  height: 400px;
}
.actus #carousel {
  min-width: 320px;
  width: 80%;
  margin: 0 auto;
}
.actus #carousel .carousel-control {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}
.actus #carousel .carousel-control li {
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 100%;
  cursor: pointer;
}
.actus #carousel .carousel-control li:first-child {
  padding: 20px;
  left: auto;
  right: 100%;
}
.actus #carousel .carousel-slides {
  position: relative;
  height: 395px;
  font-size: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
.actus #carousel .carousel-slides li {
  padding: 20px;
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  -webkit-transition: left 500ms ease-in-out;
  -moz-transition: left 500ms ease-in-out;
  -ms-transition: left 500ms ease-in-out;
  -o-transition: left 500ms ease-in-out;
  transition: left 500ms ease-in-out;
}
.actus #carousel .carousel-slides {
  border-radius: 10px;
  margin-left: -1%;
}
.actus #carousel .carousel-control li {
  font-size: 2em;
  color: #666;
  margin-top: 5%;
  padding: 20px;
}
.actus html,
.actus body {
  margin: 0;
  padding: 0 0 10px;
  text-align: center;
}
.actus h2 {
  font-family: 'EB Garamond', serif;
  position: absolute;
  top: 0;
  font-size: 24px;
  margin-top: 70%;
  margin-left: 29%;
}
.actus p {
  font-family: 'EB Garamond', serif;
  position: absolute;
  top: 0;
  font-size: 21px;
  margin-top: 80%;
  margin-left: 20%;
}
.actus h1 {
  font-family: 'Adobe Garamond Pro ...';
  font-weight: 100;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: black;
}
.actus hr {
  margin: 0 auto 50px;
  width: 40px;
  border: 0;
  border-bottom: 1px solid #666;
}
/********* @MEDIA *********/
@media (min-width: 992px) {
  .lycee .paragraphes-section .padding-right {
    padding-right: 50px;
    padding-left: 0;
  }
  .lycee .paragraphes-section .padding-left {
    padding-left: 50px;
    padding-right: 0;
  }
}
@media (min-width: 768px) {
  .navbar-default {
    height: 75px;
  }
  .navbar-default .navbar-header {
    margin-top: calc(12.5px);
  }
  .navbar-default .navbar-collapse {
    margin-top: calc(12.5px);
  }
  .navbar-default .navbar-collapse .pronote {
    margin-top: 10px;
  }
  /*  .home {
    #carousel-example-generic {
      height: 100vh;
      overflow: hidden;
    }
  }*/
}
@media (max-width: 1150px) {
  .navbar-default .navbar-collapse .navbar-right {
    margin-right: 0;
  }
  .home #carousel-example-generic .carousel-control {
    top: 40%;
  }
}
@media (max-width: 1080px) {
  .navbar-default .navbar-collapse .navbar-right li {
    margin-right: 0;
  }
}
@media (max-width: 960px) {
  .navbar-default .navbar-collapse .navbar-right li a {
    padding-left: 10px;
    padding-right: 10px;
  }
  .navbar-default .navbar-brand img {
    left: 5px;
  }
  /*.home {
    #carousel-example-generic {
      .carousel-control {
        top: 30%;
      }
    }
  }*/
}
@media (max-width: 885px) {
  .navbar-default .navbar-collapse .navbar-right li {
    font-size: 1.2em;
  }
  .home #carousel-example-generic .arrow {
    margin-top: 70px;
  }
}
@media (max-width: 855px) {
  .navbar-default .navbar-collapse .navbar-right li {
    font-size: 1.2em;
  }
  .navbar-default .navbar-brand img {
    width: 150px;
    top: 10px;
    left: 20px;
  }
}
@media (max-width: 810px) {
  .navbar-default .navbar-collapse .navbar-right li {
    font-size: 1.1em;
  }
}
@media (max-width: 991px) {
  .lycee .titre {
    text-align: center;
  }
  .lycee .temoignage-section {
    padding-bottom: 30px;
  }
  .lycee .points-verts {
    display: none;
  }
}
@media (max-width: 783px) {
  .lycee {
    margin-top: 50px;
  }
}
@media (max-width: 767px) {
  .home {
    margin-top: 50px;
  }
  .home #carousel-example-generic .arrow {
    margin-top: 50px;
  }
  .home #carousel-example-generic .arrow img {
    width: 60px;
  }
  .home #carousel-example-generic .carousel-caption {
    top: 20%;
  }
  .home #carousel-example-generic .carousel-control img {
    width: 50px;
  }
  .navbar-default .navbar-collapse {
    text-align: center;
    padding-left: 30px;
  }
  .navbar-default .navbar-collapse .navbar-right li {
    font-size: 1.3em;
  }
  .navbar-default .navbar-collapse .navbar-right .pronote {
    margin: 0 auto;
    width: 110px;
  }
  .navbar-default .navbar-brand img {
    width: 140px;
    top: 1px;
    left: 10px;
  }
  .lycee {
    margin-top: 50px;
  }
}
@media (max-width: 560px) {
  .home #carousel-example-generic .arrow {
    position: relative;
    bottom: 60px;
  }
  .home #carousel-example-generic .arrow img {
    width: 50px;
  }
}
/*********Footer*********/
footer {
  background-color: #ded8d8;
  padding: 45px 50px;
  text-align: left;
  width: 100%;
}
footer .footer-left p {
  color: #8f9296;
  font-size: 0.875em;
  margin: 0;
}
footer p.footer-links {
  color: #ffffff;
  font-size: 1.125em;
  font-weight: bold;
  margin: 0 0 10px;
  padding: 0;
}
footer p.footer-links a {
  color: inherit;
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}
footer p.footer-links a:hover {
  color: #00ff8b;
}
footer .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}
footer .footer-right a {
  background-color: #736f6f;
  border-radius: 2px;
  color: #ffffff;
  display: inline-block;
  font-size: 1.250em;
  height: 35px;
  line-height: 35px;
  margin-left: 3px;
  text-align: center;
  width: 35px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}
footer .footer-right a:hover {
  background-color: #00ff8b;
}
@media (max-width: 600px) {
  footer .footer-left {
    text-align: center;
  }
  footer .footer-left p.footer-links {
    line-height: 1.8;
  }
  footer .footer-right {
    float: none;
    margin: 0 auto 20px;
    text-align: center;
  }
}
