/*********BASE CSS*********/

@hauteurMenu: 75px;
@vertMenu : rgb(31, 161, 126);
@vert: #00ff8b;
@color0: #ffffff;
.garamond {
  font-family: Garamond;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

/*********Header*********/

.navbar-default {
  font-family: Garamond;
  background-color: #ffffff;
  border-radius: 0;
  margin-bottom: 0;
  .navbar-collapse {
    .navbar-right {
      .pronote {
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        border-radius: 2px;
        &:hover {
          background-color: @vertMenu;
          a {
            color: #ffffff;
          }
        }
        border: 1px solid @vertMenu;
        a {
          padding: 5px;
          color: @vertMenu;
        }
      }
      margin-right: 50px;
      li {
        font-size: 1.3em;
        margin-right: 20px;
      }
      a {
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        color: #000;
        text-transform: uppercase;
        &:hover {
          color: @vertMenu;
        }
      }
    }
  }
  .navbar-brand {
    img {
      width: 200px;
      position: absolute;
      top: 3px;
      left: 25px;
    }
  }
  .navbar-toggle {
    .icon-bar {
      background-color: #000000;
    }
    border-color: #000000;
  }
}

/*********Home*********/

.home {
  .container-fluid {
    padding: 0;
  }
  #carousel-example-generic {
    /*.carousel-indicators {
      .active {
        background-color: @vert;
      }
      li {
        border-color: @vert;
      }
    }*/
    img {
      width: 100%;
    }
    .mask {
      position: absolute;
      background: rgba(255,255,255,0.6);
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 1;
    }
    .carousel-caption {
      top: 30%;
    }
    .carousel-control {
      background-image: none;
      z-index: 2;
      position: absolute;
      top: 50%;
      img {
        width: 80px;
      }
    }
    .arrow {
      margin-top: 50px;
      font-size: 6em;
      a {
        color: @vert;
      }
      .fa {
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        &:hover {
          -webkit-transform: scale(1.2, 1.2);
          -moz-transform: scale(1.2, 1.2);
          -ms-transform: scale(1.2, 1.2);
          -o-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
        }
      }
    }
  }
}


/*********Footer*********/

footer{
  background-color: #ded8d8;
  padding: 45px 50px;
  text-align: left;
  width: 100%;
  .footer-left {
    p {
      color: #8f9296;
      font-size: 0.875em;
      margin: 0;
    }
  }
  p.footer-links {
    color: @color0;
    font-size: 1.125em;
    font-weight: bold;
    margin: 0 0 10px;
    padding: 0;
    a {
      color: inherit;
      display: inline-block;
      line-height: 1.8;
      text-decoration: none;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      transition: all .3s;
    }
    a:hover{
      color: @vert;
    }
  }
  .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
    a {
      background-color: #736f6f;
      border-radius: 2px;
      color: @color0;
      display: inline-block;
      font-size: 1.250em;
      height: 35px;
      line-height: 35px;
      margin-left: 3px;
      text-align: center;
      width: 35px;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      transition: all .3s;
    }
    a:hover{
      background-color: @vert;
    }
  }
}

/*********Home Formation*********/

.cell-view {
  padding-right: 9px;
  display: table-cell;
  vertical-align: middle;
  hr {
    width: 60px;
  }
}
.block-formations {
  padding-top: 60px;
}
.block {
  position: relative;
  padding-top: 50px;
  padding-bottom: 126px;
}
.team {
  margin-top: 50px;
}
.tream-entry {
  border: 3px solid @vert;
  position: relative;
  width: 141px;
  height: 141px;
  margin: 0 auto;
  overflow: hidden;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  //-moz-box-shadow: 5px 1px 30px 5px rgba(207, 205, 205, 0.75);
  //box-shadow: 5px 1px 30px 5px rgba(207, 205, 205, 0.75);
  cursor: pointer;
}
.tream-entry .team-img, .tream-entry .table-view {
  display: block;
  width: 199px;
  height: 199px;
  -webkit-transform: translate(-14.5%, -14.5%) rotate(45deg);
  -moz-transform: translate(-14.5%, -14.5%) rotate(45deg);
  -ms-transform: translate(-14.5%, -14.5%) rotate(45deg);
  -o-transform: translate(-14.5%, -14.5%) rotate(45deg);
  transform: translate(-14.5%, -14.5%) rotate(45deg);
}
.tream-entry .table-view {
  display: table;
}
.team-hover {
  position: absolute;
  top: 0;
  left: 0;
  background: #000000;
  color: #fefeff;
  opacity: 0;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}


.tream-entry:hover .team-hover {
  opacity: 1;
}
.team-name {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 20px;
}
.team-social {
  text-align: center;
}
.team-social a {
  margin: 0 10px;
  color: #c1d8fc;
}

.teamrow {
  position: relative;
  top: -37px;
}

.teamrow:nth-child(1) {
  top: 0px;
}

.teamrow:nth-child(3) {
  top: -74px;
}


/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 23 - MEDIA QUERIES */
/*-------------------------------------------------------------------------------------------------------------------------------*/
/*Desktops (>=1200px)*/
/*Desktops (>=992px)*/
@media (max-width: 1199px) {
  .teamrow {
    top: -20px;
  }
  .teamrow:nth-child(3) {
    top: -40px;
  }

  .tream-entry {
    width: 110px;
    height: 110px;
  }

  .tream-entry .team-img, .tream-entry .table-view {
    width: 157px;
    height: 157px;
  }
}
/* Tablets (>=768px)*/
@media (max-width: 991px) {

  .tream-entry {
    width: 90px;
    height: 90px;
  }

  .tream-entry .team-img, .tream-entry .table-view {
    width: 128px;
    height: 128px;
  }
}
/*Phones (<768px)*/
@media (max-width: 767px) {
  .block {
    padding-top: 50px;
    padding-bottom: 63px;
  }

  .tream-entry {
    width: 170px;
    height: 170px;
  }

  .tream-entry .team-img, .tream-entry .table-view {
    width: 241px;
    height: 241px;
  }

  .team-item {
    margin-bottom: 90px;
  }

  .teamrow {
    top: 0;
  }

  .teamrow:nth-child(2) .team-item:last-child {
    margin-bottom: 30px;
  }

  .hide-line{
    display: none;
  }
}
/*********Home Actualité*********/

.actus {
  height: 300px;
  background-color: #ffffff;
}

/*********Home Galerie*********/


.block-galerie{
  .galeries {
    height: 600px;
    overflow: hidden;
    .galerie {
      border: 3px solid @vert;
      position: relative;
      z-index: 2;
      margin: 100px 40px;
      height: 150px;
      width: 150px;
      overflow: hidden;
      display: inline-block;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      .mask {
        opacity: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 3;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        .title_galerie {
          margin-top: 60px;
          h3 {
            line-height: 5px;
            color: #ffffff;
          }
          p{
            color: @color0;
            font-style: italic;
          }
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }
        &:hover {
          opacity: 1;
          background: rgba(0, 0, 0, 0.6);
        }
      }
      img {
        -webkit-transform: rotate(-45deg) translateY(-110px);
        -moz-transform: rotate(-45deg) translateY(-110px);
        -ms-transform: rotate(-45deg) translateY(-110px);
        -o-transform: rotate(-45deg) translateY(-110px);
        transform: rotate(-45deg) translateY(-110px);
        width: 400px;
      }
    }
    .line2 {
      position: relative;
      bottom: 240px;
    }
    .line3 {
      position: relative;
      bottom: 480px;
    }
  }
}

/*********Entreprise*********/


.visuel-entreprise {
  .container-fluid{
    position: relative;
    background: url('../img/business.jpg') center center no-repeat scroll;
    height: 70vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    .mask {
      position: absolute;
      background: rgba(255,255,255,0.6);
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 1;
    }
  }
}

.entreprise{
  margin-top: 30px;
  h1{
    font-family: Garamond;
    text-align: center;
    font-size: 5em;
  }
  .contenu-entreprise-1{
    border-right: 2px solid;
    margin-top: 50px;
    margin-bottom: 50px;
    .taxe{
      background-color: #F7F7F7;
      padding: 35px;
      h2{
        font-family: Garamond;
        text-transform: uppercase;
      }
      h3{
        font-family: Garamond;
        text-transform: uppercase;
        color: @vertMenu;
      }
      .information-1{
        a{
          color: #11a27d;
        }
      }
      a{
        color: #11a27d;
      }
    }
    .bourses{
      background-color: #F7F7F7;
      padding: 35px;
      margin-top: 50px;
      h2{
        font-family: Garamond;
        text-transform: uppercase;
      }
      h3{
        font-family: Garamond;
        text-transform: uppercase;
        color: @vertMenu;
      }
      .information-2 {
        a {
          color: #11a27d;
        }
      }
      .boutton-savoir{
        text-transform: uppercase;
        padding : 10px 40px 10px 40px;
        background-color: #a5f9d3;
        color: black;
        text-decoration: none;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
      }
      .boutton-savoir:hover{
        background-color: #00ff8b;
      }
    }
    .marches{
      background-color: #F7F7F7;
      padding: 35px;
      margin-top: 50px;
      h2{
        font-family: Garamond;
        text-transform: uppercase;
      }
      h3{
        font-family: Garamond;
        text-transform: uppercase;
        color: @vertMenu;
      }
      .marches-p1{

      }
      .marches-p2{
        font-style: italic;
      }
      .marches-p3{

      }
      .marches-p4{
        text-transform: uppercase;
        color: @vertMenu;
      }
      .marches-p5{
        font-weight: bold;
      }
      .marches-p6{

      }
      .marches-p7{
        color: @vertMenu;
      }
      .boutton-savoir{
        text-transform: uppercase;
        padding : 10px 40px 10px 40px;
        background-color: #a5f9d3;
        color: black;
        text-decoration: none;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
      }
      .boutton-savoir:hover{
        background-color: #00ff8b;
      }
    }
  }
  .contenu-entreprise-2{
    .offres{
      background-color: #F7F7F7;
      padding: 35px;
      margin-top: 50px;
      h2{
        font-family: Garamond;
        text-transform: uppercase;
      }
      .offres-arts-graphiques{
        h4{
          font-family: Garamond;
          text-transform: uppercase;
          color: white;
          padding: 25px 50px 25px 30px;
          font-size: 1.3em;
          background-color: black;
        }
        .contenu-offres-arts{
          margin-top: 20px;
          a{
            padding : 10px 60px 10px 60px;
            background-color: #a5f9d3;
            font-size: 1.2em;
            color: black;
            text-decoration: none;
            -webkit-transition: all .3s;
            -moz-transition: all .3s;
            transition: all .3s;
            margin: 10px 0 10px 0;
          }
          a:hover{
            background-color: #00ff8b;
          }
        }
      }
      .offres-pif{
        h4{
          font-family: Garamond;
          text-transform: uppercase;
          color: white;
          font-size: 1.3em;
          padding: 25px 50px 25px 30px;
          background-color: black;
        }
        .contenu-pif{
          margin-top: 20px;
          a{
            padding : 10px 60px 10px 60px;
            background-color: #a5f9d3;
            font-size: 1.2em;
            color: black;
            text-decoration: none;
            -webkit-transition: all .3s;
            -moz-transition: all .3s;
            transition: all .3s;
            margin: 10px 0 10px 0;
          }
          a:hover{
            background-color: #00ff8b;
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .entreprise{
    .contenu-entreprise-1 {
      border-right: none;
    }
  }
}

/*********Lycée*********/

.lycee {
  .titre {
    text-align: right;
  }
  .img-section {
    position: relative;
    .mask {
      position: absolute;
      background: rgba(255,255,255,0.6);
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 1;
    }
    img {
      width: 100%;
    }
    max-height: 70vh;
    overflow: hidden;
  }
  .temoignage-section {
    h2 {
      margin-top: 30px;
      text-transform: uppercase;
      color: @vert;
      font-size: 1.6em;
    }
    p {
      color: #ffffff;
    }
    p:nth-child(1) {
      margin-top: 30px;
    }
    p:nth-child(2) {
      text-align: right;
      position: relative;
      right: 60px;
    }
    background-color: rgb(52, 58, 57);
    .points-verts {
      img {
        float: right;
        height: 200px;
      }
    }
    .btn-histoire{
      border-radius: 0;
      text-transform: uppercase;
      padding : 10px 40px 10px 40px;
      background-color: #a5f9d3;
      color: black;
      text-decoration: none;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      transition: all .3s;
    }
    .btn-histoire:hover{
      background-color: #00ff8b;
    }
  }
  .paragraphes-section {
    img {
      width: 100%;
    }
    .row {
      padding-top: 50px;
      padding-bottom: 20px;
    }
    .img-row {
      padding-top: 0;
      padding-bottom: 0;
    }
    h3 {
      color: @vertMenu;
      text-transform: uppercase;
    }
    .bg-gris {
      background-color: rgb(245, 246, 247);
    }
  }
}

/*********Formation*********/

.visuel-formation {
  .img-section {
    position: relative;
    height: 100vh;
    background: url("../img/eleves.jpg") no-repeat center center / cover;
    .mask {
      position: absolute;
      background: rgba(255, 255, 255, 0.6);
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 1;
    }
  }
}

/*********Projets*********/

.projets-titres{
  h1{
    font-family: Garamond;
    font-size: 20vw;
  }
}

.projets-tabs{
  background-color: #ded8d8;
  .tab-1{
    ul{
      float: none;
      display: inline-block;
      li{
        a{
          font-family: Garamond;
          font-size: 2.3em;
          color: #000;
          text-transform: uppercase;
          -webkit-transition: 0.3s;
          -moz-transition: 0.3s;
          -ms-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s;
          &:hover {
            color: @vertMenu;
          }
        }
      }
    }
  }
}

.projets-visuels{
  .projets-visuels-1{
    .projets-items{
      position: relative;
      .mask {
        opacity: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 3;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        i{
          color: white;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      .mask:hover{
        opacity: 1;
        background: rgba(0, 255, 139, 0.6);
      }
    }
  }
  .projets-visuels-2{
    .mask {
      opacity: 0;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 3;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      i{
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .mask:hover{
      opacity: 1;
      background: rgba(0, 255, 139, 0.6);
    }
  }
  .projets-visuels-3{
    .mask {
      opacity: 0;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 3;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      i{
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .mask:hover{
      opacity: 1;
      background: rgba(0, 255, 139, 0.6);
    }
  }
  .projets-visuels-4{
    .mask {
      opacity: 0;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 3;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      i{
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .mask:hover{
      opacity: 1;
      background: rgba(0, 255, 139, 0.6);
    }
  }
}

@media (max-width: 600px) {
  footer{
    .footer-left {
      text-align: center;
      p.footer-links {
        line-height: 1.8;
      }
    }
    .footer-right {
      float: none;
      margin: 0 auto 20px;
      text-align: center;
    }
  }
}

/********* @MEDIA *********/

@media (min-width: 992px) {
  .lycee {
    .paragraphes-section {
      .padding-right {
        padding-right: 50px;
        padding-left: 0;
      }
      .padding-left {
        padding-left: 50px;
        padding-right: 0;
      }
    }
  }
}

@media (min-width: 768px) {
  .navbar-default {
    height: @hauteurMenu;
    .navbar-header {
      margin-top: calc((@hauteurMenu - 50px)/2);
    }
    .navbar-collapse {
      margin-top: calc((@hauteurMenu - 50px)/2);
      .pronote {
        margin-top: 10px;
      }
    }
  }
  .home {
    #carousel-example-generic {
      height: 100vh;
      overflow: hidden;
    }
  }
}

@media (max-width: 1150px) {
  .navbar-default {
    .navbar-collapse {
      .navbar-right {
        margin-right: 0;
      }
    }
  }
}

@media (max-width: 1080px) {
  .navbar-default {
    .navbar-collapse {
      .navbar-right {
        li {
          margin-right: 0;
        }
      }
    }
  }
}

@media (max-width: 960px) {
  .navbar-default {
    .navbar-collapse {
      .navbar-right {
        li {
          a {
            padding-left: 10px;
            padding-right: 10px;
          }
        }
      }
    }
    .navbar-brand img {
      left: 5px;
    }
  }
}

@media (max-width: 885px) {
  .navbar-default {
    .navbar-collapse {
      .navbar-right {
        li {
          font-size: 1.2em;
        }
      }
    }
  }
}

@media (max-width: 855px) {
  .navbar-default {
    .navbar-collapse {
      .navbar-right {
        li {
          font-size: 1.2em;
        }
      }
    }
    .navbar-brand {
      img {
        width: 150px;
        top: 10px;
        left: 20px;
      }
    }
  }
}

@media (max-width: 810px) {
  .navbar-default {
    .navbar-collapse {
      .navbar-right {
        li {
          font-size: 1.1em;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .lycee {
    .titre {
      text-align: center;
    }
    .temoignage-section {
      padding-bottom: 30px;
    }
    .points-verts {
      display: none;
    }
  }
}

@media (max-width: 783px) {
  .lycee {
    margin-top: 50px;
  }
}

@media (max-width: 767px) {
  .home {
    #carousel-example-generic {
      .carousel-control img {
        width: 50px;
      }
    }
  }
  .navbar-default {
    .navbar-collapse {
      text-align: center;
      padding-left: 30px;
      .navbar-right {
        li {
          font-size: 1.3em;
        }
        .pronote {
          margin: 0 auto;
          width: 110px;
        }
      }
    }
    .navbar-brand {
      img {
        width: 140px;
        top: 1px;
        left: 10px;
      }
    }
  }
  .lycee {
    margin-top: 50px;
  }
}


