/*********Header*********/
.no-padding {
  padding-left: 0;
  padding-right: 0;
}
.navbar-default {
  font-family: Garamond;
  background-color: #ffffff;
  border-radius: 0;
  margin-bottom: 0;
}
.navbar-default .navbar-collapse .navbar-right {
  margin-right: 50px;
}
.navbar-default .navbar-collapse .navbar-right .pronote {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border-radius: 2px;
  border: 1px solid #1fa17e;
}
.navbar-default .navbar-collapse .navbar-right .pronote:hover {
  background-color: #1fa17e;
}
.navbar-default .navbar-collapse .navbar-right .pronote:hover a {
  color: #ffffff;
}
.navbar-default .navbar-collapse .navbar-right .pronote a {
  padding: 5px;
  color: #1fa17e;
}
.navbar-default .navbar-collapse .navbar-right li {
  font-size: 1.3em;
  margin-right: 20px;
}
.navbar-default .navbar-collapse .navbar-right a {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: #000;
  text-transform: uppercase;
}
.navbar-default .navbar-collapse .navbar-right a:hover {
  color: #1fa17e;
}
.navbar-default .navbar-brand img {
  width: 200px;
  position: absolute;
  top: 3px;
  left: 25px;
}
/*********Home*********/
.home .container-fluid {
  padding: 0;
}
.home #carousel-example-generic {
  /*.carousel-indicators {
      .active {
        background-color: @vert;
      }
      li {
        border-color: @vert;
      }
    }*/
}
.home #carousel-example-generic img {
  width: 100%;
}
.home #carousel-example-generic .mask {
  position: absolute;
  background: rgba(255, 255, 255, 0.6);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
.home #carousel-example-generic .carousel-caption {
  top: 30%;
}
.home #carousel-example-generic .carousel-control {
  background-image: none;
  z-index: 2;
  position: absolute;
  top: 50%;
}
.home #carousel-example-generic .carousel-control img {
  width: 80px;
}
.home #carousel-example-generic .arrow {
  margin-top: 50px;
  font-size: 6em;
}
.home #carousel-example-generic .arrow a {
  color: #00ff8b;
}
.home #carousel-example-generic .arrow .fa {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.home #carousel-example-generic .arrow .fa:hover {
  -webkit-transform: scale(1.2, 1.2);
  -moz-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -o-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}
/*********Footer*********/
footer {
  background-color: #ded8d8;
  padding: 45px 50px;
  text-align: left;
  width: 100%;
}
footer .footer-left p {
  color: #8f9296;
  font-size: 0.875em;
  margin: 0;
}
footer p.footer-links {
  color: #ffffff;
  font-size: 1.125em;
  font-weight: bold;
  margin: 0 0 10px;
  padding: 0;
}
footer p.footer-links a {
  color: inherit;
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}
footer p.footer-links a:hover {
  color: #00ff8b;
}
footer .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}
footer .footer-right a {
  background-color: #736f6f;
  border-radius: 2px;
  color: #ffffff;
  display: inline-block;
  font-size: 1.250em;
  height: 35px;
  line-height: 35px;
  margin-left: 3px;
  text-align: center;
  width: 35px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}
footer .footer-right a:hover {
  background-color: #00ff8b;
}
/*********Home Formation*********/
.cell-view {
  padding-right: 9px;
  display: table-cell;
  vertical-align: middle;
}
.cell-view hr {
  width: 60px;
}
.block-formations {
  padding-top: 60px;
}
.block {
  position: relative;
  padding-top: 50px;
  padding-bottom: 126px;
}
.team {
  margin-top: 50px;
}
.tream-entry {
  border: 3px solid #00ff8b;
  position: relative;
  width: 141px;
  height: 141px;
  margin: 0 auto;
  overflow: hidden;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  cursor: pointer;
}
.tream-entry .team-img,
.tream-entry .table-view {
  display: block;
  width: 199px;
  height: 199px;
  -webkit-transform: translate(-14.5%, -14.5%) rotate(45deg);
  -moz-transform: translate(-14.5%, -14.5%) rotate(45deg);
  -ms-transform: translate(-14.5%, -14.5%) rotate(45deg);
  -o-transform: translate(-14.5%, -14.5%) rotate(45deg);
  transform: translate(-14.5%, -14.5%) rotate(45deg);
}
.tream-entry .table-view {
  display: table;
}
.team-hover {
  position: absolute;
  top: 0;
  left: 0;
  background: #000000;
  color: #fefeff;
  opacity: 0;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}
.tream-entry:hover .team-hover {
  opacity: 1;
}
.team-name {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 20px;
}
.team-social {
  text-align: center;
}
.team-social a {
  margin: 0 10px;
  color: #c1d8fc;
}
.teamrow {
  position: relative;
  top: -37px;
}
.teamrow:nth-child(1) {
  top: 0px;
}
.teamrow:nth-child(3) {
  top: -74px;
}
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 23 - MEDIA QUERIES */
/*-------------------------------------------------------------------------------------------------------------------------------*/
/*Desktops (>=1200px)*/
/*Desktops (>=992px)*/
@media (max-width: 1199px) {
  .teamrow {
    top: -20px;
  }
  .teamrow:nth-child(3) {
    top: -40px;
  }
  .tream-entry {
    width: 110px;
    height: 110px;
  }
  .tream-entry .team-img,
  .tream-entry .table-view {
    width: 157px;
    height: 157px;
  }
}
/* Tablets (>=768px)*/
@media (max-width: 991px) {
  .tream-entry {
    width: 90px;
    height: 90px;
  }
  .tream-entry .team-img,
  .tream-entry .table-view {
    width: 128px;
    height: 128px;
  }
}
/*Phones (<768px)*/
@media (max-width: 767px) {
  .block {
    padding-top: 50px;
    padding-bottom: 63px;
  }
  .tream-entry {
    width: 170px;
    height: 170px;
  }
  .tream-entry .team-img,
  .tream-entry .table-view {
    width: 241px;
    height: 241px;
  }
  .team-item {
    margin-bottom: 90px;
  }
  .teamrow {
    top: 0;
  }
  .teamrow:nth-child(2) .team-item:last-child {
    margin-bottom: 30px;
  }
  .hide-line {
    display: none;
  }
}
/*********Home Actualité*********/
.actus {
  height: 300px;
  background-color: #ffffff;
}
/*********Home Galerie*********/
.block-galerie .galeries {
  height: 600px;
  overflow: hidden;
}
.block-galerie .galeries .galerie {
  border: 3px solid #00ff8b;
  position: relative;
  z-index: 2;
  margin: 100px 40px;
  height: 150px;
  width: 150px;
  overflow: hidden;
  display: inline-block;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.block-galerie .galeries .galerie .mask {
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 3;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.block-galerie .galeries .galerie .mask .title_galerie {
  margin-top: 60px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.block-galerie .galeries .galerie .mask .title_galerie h3 {
  line-height: 5px;
  color: #ffffff;
}
.block-galerie .galeries .galerie .mask .title_galerie p {
  color: #ffffff;
  font-style: italic;
}
.block-galerie .galeries .galerie .mask:hover {
  opacity: 1;
  background: rgba(0, 0, 0, 0.6);
}
.block-galerie .galeries .galerie img {
  -webkit-transform: rotate(-45deg) translateY(-110px);
  -moz-transform: rotate(-45deg) translateY(-110px);
  -ms-transform: rotate(-45deg) translateY(-110px);
  -o-transform: rotate(-45deg) translateY(-110px);
  transform: rotate(-45deg) translateY(-110px);
  width: 400px;
}
.block-galerie .galeries .line2 {
  position: relative;
  bottom: 240px;
}
.block-galerie .galeries .line3 {
  position: relative;
  bottom: 480px;
}
/*********Entreprise*********/
.visuel-entreprise .container-fluid {
  background: url('../img/business.jpg') center center no-repeat scroll;
  height: 70vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.entreprise {
  margin-top: 30px;
}
.entreprise h1 {
  font-family: Garamond;
  text-align: center;
  font-size: 5em;
}
.entreprise .contenu-entreprise-1 {
  border-right: 2px solid;
  margin-top: 50px;
  margin-bottom: 50px;
}
.entreprise .contenu-entreprise-1 .taxe {
  background-color: #F7F7F7;
  padding: 35px;
}
.entreprise .contenu-entreprise-1 .taxe h2 {
  font-family: Garamond;
  text-transform: uppercase;
}
.entreprise .contenu-entreprise-1 .taxe h3 {
  font-family: Garamond;
  text-transform: uppercase;
  color: #1fa17e;
}
.entreprise .contenu-entreprise-1 .taxe .information-1 a {
  color: #11a27d;
}
.entreprise .contenu-entreprise-1 .taxe a {
  color: #11a27d;
}
.entreprise .contenu-entreprise-1 .bourses {
  background-color: #F7F7F7;
  padding: 35px;
  margin-top: 50px;
}
.entreprise .contenu-entreprise-1 .bourses h2 {
  font-family: Garamond;
  text-transform: uppercase;
}
.entreprise .contenu-entreprise-1 .bourses h3 {
  font-family: Garamond;
  text-transform: uppercase;
  color: #1fa17e;
}
.entreprise .contenu-entreprise-1 .bourses .information-2 a {
  color: #11a27d;
}
.entreprise .contenu-entreprise-1 .bourses .boutton-savoir {
  text-transform: uppercase;
  padding: 10px 40px 10px 40px;
  background-color: #a5f9d3;
  color: black;
  text-decoration: none;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}
.entreprise .contenu-entreprise-1 .bourses .boutton-savoir:hover {
  background-color: #00ff8b;
}
.entreprise .contenu-entreprise-1 .marches {
  background-color: #F7F7F7;
  padding: 35px;
  margin-top: 50px;
}
.entreprise .contenu-entreprise-1 .marches h2 {
  font-family: Garamond;
  text-transform: uppercase;
}
.entreprise .contenu-entreprise-1 .marches h3 {
  font-family: Garamond;
  text-transform: uppercase;
  color: #1fa17e;
}
.entreprise .contenu-entreprise-1 .marches .marches-p2 {
  font-style: italic;
}
.entreprise .contenu-entreprise-1 .marches .marches-p4 {
  text-transform: uppercase;
  color: #1fa17e;
}
.entreprise .contenu-entreprise-1 .marches .marches-p5 {
  font-weight: bold;
}
.entreprise .contenu-entreprise-1 .marches .marches-p7 {
  color: #1fa17e;
}
.entreprise .contenu-entreprise-1 .marches .boutton-savoir {
  text-transform: uppercase;
  padding: 10px 40px 10px 40px;
  background-color: #a5f9d3;
  color: black;
  text-decoration: none;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}
.entreprise .contenu-entreprise-1 .marches .boutton-savoir:hover {
  background-color: #00ff8b;
}
.entreprise .contenu-entreprise-2 .offres {
  background-color: #F7F7F7;
  padding: 35px;
  margin-top: 50px;
}
.entreprise .contenu-entreprise-2 .offres h2 {
  font-family: Garamond;
  text-transform: uppercase;
}
.entreprise .contenu-entreprise-2 .offres .offres-arts-graphiques h4 {
  font-family: Garamond;
  text-transform: uppercase;
  color: white;
  padding: 25px 50px 25px 30px;
  background-color: black;
}
.entreprise .contenu-entreprise-2 .offres .offres-arts-graphiques .contenu-offres-arts {
  margin-top: 20px;
}
.entreprise .contenu-entreprise-2 .offres .offres-arts-graphiques .contenu-offres-arts a {
  padding: 10px 60px 10px 60px;
  background-color: #a5f9d3;
  font-size: 1.2em;
  color: black;
  text-decoration: none;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
  margin: 10px 0 10px 0;
}
.entreprise .contenu-entreprise-2 .offres .offres-arts-graphiques .contenu-offres-arts a:hover {
  background-color: #00ff8b;
}
.entreprise .contenu-entreprise-2 .offres .offres-pif h4 {
  font-family: Garamond;
  text-transform: uppercase;
  color: white;
  padding: 25px 50px 25px 30px;
  background-color: black;
}
.entreprise .contenu-entreprise-2 .offres .offres-pif .contenu-pif {
  margin-top: 20px;
}
.entreprise .contenu-entreprise-2 .offres .offres-pif .contenu-pif a {
  padding: 10px 60px 10px 60px;
  background-color: #a5f9d3;
  font-size: 1.2em;
  color: black;
  text-decoration: none;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
  margin: 10px 0 10px 0;
}
.entreprise .contenu-entreprise-2 .offres .offres-pif .contenu-pif a:hover {
  background-color: #00ff8b;
}
@media (max-width: 991px) {
  .entreprise .contenu-entreprise-1 {
    border-right: none;
  }
}
/*********Lycée*********/
.garamond {
  font-family: Garamond;
}
.lycee .img-section {
  position: relative;
  height: 70vh;
  overflow: hidden;
}
.lycee .img-section .mask {
  position: absolute;
  background: rgba(255, 255, 255, 0.6);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
.lycee .img-section img {
  width: 100%;
}
.lycee .temoignage-section {
  height: 200px;
  background-color: #343a39;
}
.lycee .temoignage-section h2 {
  margin-top: 30px;
  text-transform: uppercase;
  color: #00ff8b;
  font-size: 1.6em;
}
.lycee .temoignage-section p {
  color: #ffffff;
}
.lycee .temoignage-section p:nth-child(1) {
  margin-top: 30px;
}
.lycee .temoignage-section p:nth-child(2) {
  text-align: right;
  position: relative;
  right: 60px;
}
.lycee .temoignage-section .points-verts img {
  float: right;
  height: 200px;
}
.lycee .temoignage-section .btn-histoire {
  border-radius: 0;
  text-transform: uppercase;
  padding: 10px 40px 10px 40px;
  background-color: #a5f9d3;
  color: black;
  text-decoration: none;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}
.lycee .temoignage-section .btn-histoire:hover {
  background-color: #00ff8b;
}
.lycee .paragraphes-section img {
  width: 100%;
}
.lycee .paragraphes-section .row {
  padding-top: 50px;
  padding-bottom: 20px;
}
.lycee .paragraphes-section .img-row {
  padding-top: 0;
  padding-bottom: 0;
}
.lycee .paragraphes-section .padding-right {
  padding-right: 50px;
  padding-left: 0;
}
.lycee .paragraphes-section .padding-left {
  padding-left: 50px;
  padding-right: 0;
}
.lycee .paragraphes-section h3 {
  color: #1fa17e;
  text-transform: uppercase;
}
.lycee .paragraphes-section .bg-gris {
  background-color: #f5f6f7;
}
/*********Formation*********/
.visuel-formation .img-section {
  height: 100vh;
  background: url("../img/eleves.jpg") no-repeat center center / cover;
}
.visuel-formation .img-section .mask {
  position: absolute;
  background: rgba(255, 255, 255, 0.6);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
/*********Projets*********/
.visuel-projets .img-section {
  height: 100vh;
  background: url("../img/projets.jpg") no-repeat center center / cover;
}
.visuel-projets .img-section .mask {
  position: absolute;
  background: rgba(255, 255, 255, 0.6);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
